// Define desired color palettes.
$primary: "grey";
$accent: "deep-orange";
$warn: "brown";

@import 'ember-paper';

.show-basket {
  position: fixed;
  right: 1em;
  bottom: 1em;
}

.invisible-picture {
  width: 1px;
  height: 1px;
}
