{{#paper-toolbar as |toolbar|}}
  {{#toolbar.tools}}
    <h2>Three principles of security</h2>
    <span class="flex"></span>
    {{#paper-button href="http://github.com" mini=true aria-label="Favorite"}}
      {{paper-icon "favorite"}}
    {{/paper-button}}
  {{/toolbar.tools}}
{{/paper-toolbar}}

{{liquid-outlet}}
