<div class="layout-row layout-wrap">
  {{#each model as |song|}}
    {{#paper-card class="flex-20" as |card|}}
      {{card.image src=song.img alt="Washed Out" title="Washed Out"}}
      {{#card.actions}}
        {{#paper-button iconButton=true onClick=(action "addToBasket" song)}}
          {{paper-icon "add-shopping-cart"}}
        {{/paper-button}}
      {{/card.actions}}
    {{/paper-card}}
  {{/each}}

  {{#if basket.queue.length}}
    {{#paper-card class=" layout-align-center-center flex-20" as |card|}}
      {{#link-to 'checkout'}}
        {{#paper-button class="show-basket" accent=true raised=true fab=true}}
          <small>{{basket.queue.length}}</small>
          {{paper-icon "shopping-cart"}}
        {{/paper-button}}
      {{/link-to}}
    {{/paper-card}}
  {{/if}}
</div>
